<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
      heLLo
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->


    <!-- <div class='navbar-brand'>

      < %= link_to "Katalin's Photography", root_path, class:'logo' %>

    </div>
    <div class="menu-list">
      <ul class="nav">
        <li class="nav-item">< %= link_to 'Landscape', landscapes_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Animals', animals_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Birds', birds_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Macro', macros_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Cart', landscapes_path, class: 'nav-link' %></li>
        <li class="nav-item">< %= link_to 'Checkout', macros_path, class: 'nav-link' %></li>
      </ul>
    </div>

    <div class="overlay"></div>
      < %= image_tag 'firework', style:"backface-visibility: hidden; position: absolute;
      left: -383px; top: 0px; z-index: -1; max-width: none; height: 1298px; width: 3800px;" %> -->
