nav {
  height: 75px;
}

 .transparent {
   background-color: transparent !important;
 }

 @media screen and (max-width: 767px) {
   .collapse {
     display: none !important;
   }
}

.logo {
  margin-left: 10px;
}

.navbar-brand {
    color: #48bf97 !important;
    margin-left: 10px;
    font-size: 1.5em;
    font-style: italic;
  }
.navbar-brand:hover {
    font-size: 1.8em;
  }
.navbar-nav {
     margin: 0 auto !important;
}
// .navbar-nav:hover {
//   font-size: 1.5em;
// }
.nav-link {
  color: #48bf97 !important;
}
.nav-link:hover {
  display: block;
  background-color: #48bf97;
  color: #fff !important;
  border-radius: 45px;
}

.navbar-toggler {


}

// .mobile-menu {
//   nav-item {
//     color: white;
//   }
//   ul {
//     padding: 0px;
//   }
//   nav-link {
//     display: block;
//     padding: 10px 0px 10px 25px !important;
//   }
//   nav-link:hover {
//     background: white !important;
//     color: black !important;
//     nav-item {
//       color: black;
//     }
//   }
// }
