<div class="container">
  <footer class='footer'>
    Copyright &copy; 2019 by Katalin B.
    <small>
    </small>
    <nav>

        <%= link_to 'About', about_path %>

    </nav>
  </footer>
</div>
