<div class="container">
  <footer class='footer'>
    <small>
      Copyright &copy; 2019 by Katalin B.
    </small>
    <nav>
      <%= link_to 'About', about_path %>
    </nav>
  </footer>
</div>
